.root {
    -fx-background-color: linear-gradient(to bottom right, #ece9e6, #ffffff);
    -fx-font-family: 'Segoe UI', sans-serif;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 20, 0, 0, 5);
    -fx-padding: 30;
    -fx-spacing: 20;
}

.header-label {
    -fx-text-fill: #1A237E;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}

.sub-label {
    -fx-text-fill: #546E7A;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}

.combo-box {
    -fx-background-color: #F4F6F8;
    -fx-border-color: #CFD8DC;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 4;
    -fx-font-size: 14px;
}

.combo-box:focused {
    -fx-background-color: white;
    -fx-border-color: #1A237E;
    -fx-effect: dropshadow(gaussian, rgba(26, 35, 126, 0.2), 5, 0, 0, 1);
}

.primary-btn {
    -fx-background-color: #1A237E;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 30;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 1);
}

.primary-btn:hover {
    -fx-background-color: #283593;
}

.primary-btn:pressed {
    -fx-background-color: #0d47a1;
}

.table-view {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #CFD8DC;
}



.table-view .column-header-background {
    -fx-background-color: #1A237E;
    -fx-background-radius: 10 10 0 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

.table-row-cell:filled:hover {
    -fx-background-color: #E8EAF6;
}

.table-cell {
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-text-fill: #37474F;
    -fx-alignment: center-left;
}